/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', sans-serif;
  background-color: #f4e9da;
}

html,
body {
  height: 100%;
  position: relative;
}

.App {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.mainDate {
  font-family: 'Josefin Sans', sans-serif;
}

.loadingDots {
  color: black;
  font-size: 3vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.mainDateContainer {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.5em auto 1em;
  width: 25%;
}

.incrementBtn:hover {
  color: #ed5c4d;
}

.shortcutButtons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.shortcutButtons button {
  outline: none;
}

.shortcutButtons button:hover .react-date-picker__button__icon {
  stroke: #ed5c4d !important;
}

.shortcutButtons button:not(.react-calendar__tile) {
  background-color: #ed5c4d;
  color: #fff;
  margin: 0 0.2em 0 0.2em;
  font-weight: bold;
  border: 0.3em solid #ed5c4d;
}

.shortcutButtons button:hover:not(.react-calendar__tile) {
  background-color: #fff;
  color: #ed5c4d;
  text-decoration: none;
  border: 0.3em solid #ed5c4d;
}

.react-date-picker__inputGroup {
  display: none;
}

.react-calendar__navigation__prev2-button {
  margin-left: 0 !important;
}

.react-calendar__navigation__next2-button {
  margin-right: 0 !important;
}

.react-calendar__navigation__label {
  pointer-events: none;
}

.react-calendar__navigation button {
  min-width: 1.8rem !important;
}

.react-calendar {
  padding: 0.5em;
  border: none !important;
}

.react-date-picker__wrapper {
  border: 0 !important;
}

.react-date-picker__button__icon {
  stroke: #fff !important;
}

.react-calendar__navigation button:hover {
  background-color: white !important;
}

.react-calendar__tile {
  position: relative;
  transform: translateZ(0);
  transition: color 1000ms;
}

.react-calendar__tile--now:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 1.4rem;
  left: 0.5em;
  right: 0.5em;
  bottom: 0;
  background: #ed5c4d;
}

.react-calendar__tile:disabled {
  pointer-events: none;
}

.react-calendar__tile:hover:not(:disabled) {
  background: none !important;
}

.react-calendar__tile--active {
  background: none !important;
}

.react-calendar__tile:hover:after {
  content: '' !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 1.4rem;
  left: 0.5em;
  right: 0.5em;
  bottom: 0;
  background: #ed5c4d !important;
}

.react-calendar__tile--now {
  background: transparent !important;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
  font-weight: 700;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #7e7d7d !important;
  pointer-events: none;
}

.react-calendar__tile--active {
  color: black !important;
}

.concertCardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.concertCard {
  margin-bottom: 2vw;
  margin-left: 12px;
  border: none !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: auto;
}

.concertCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .mainDateContainer {
    font-size: 10vw;
    margin: 0.5em auto 1em;
    width: 45%;
  }
} */

.contactBtn {
  display: flex;
}

.simplonBtn {
  padding: 0 0.1em 0 0 !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

.footerBtn {
  color: #f4e9da;
  padding: 0.2em 0.3em 0 0.3em;
  margin: 0.3em 0.6em;
  cursor: pointer;
  /* border: 0.2em solid #273253; */
}

.footerBtn:hover {
  /* border: 0.2em solid #ed5c4d; */
  color: #ed5c4d;
}

.footer .simplonBtn {
  justify-self: self-end !important;
}

.footerBtn a {
  color: #f4e9da;
}

.footerBtn a img {
  display: flex;
  width: 2em;
}

.footerBtn:hover a {
  color: #ed5c4d;
}
.TextField-without-border-radius fieldset {
  border-radius: 0;
}
